.slide-bg-color{
    background-color: #fceae8;
}
.watch-bg-color{
    background-color: #ffa500;
}
.bagpack-bg-color{
    background-color: #da70d6;
}
.shoes-bg-color{
    background-color: #0000ff;
}
.btn-bg-color{
    background-color: #ff2f80;
}